{% extends "layout.html" %}
{% block content %}
    <div class="header">
        <a href="/"><img src="static/image/title.JPG" width="500"><a>
    </div>
    <script src="static/js/script.js"></script>
    <h2>乃木坂のむしめがねについて</h2>
    <p>このサイトは、乃木坂のまとめサイトをさらにまとめ、分析したもの掲載しています。</p>
    <p>主な機能として</p>
    <ul>
      <li>複数のまとめサイトから同時に情報を収集</li>
      <li>注目メンバーの表示</li>
      <li>注目ワードの表示</li>
    </ul>
    <p>以上の3つを実装しています。</p>

    <h2>注意点</h2>
    <ul>
      <li>現時点ではスマホ未対応です。</li>
      <li>動作確認が取れているのはchrome(バージョン:73.0.3683.86)のみです。</li>
      <li>本サービスは、一般の坂道ファンが個人で開発、保守を行っています。そのため、不具合の修正など迅速に行えない場合が多いです。ご了承ください。</li>
    </ul>

    <h2>掲載サイト様</h2>
    <ul>
      <li><a href="http://nogitweet.com/ " target="_blank">乃木坂46まとめんばー 様</a></li>
      <li><a href="http://nogizaka-46bunno1.blog.jp/" target="_blank">乃木坂46まとめ 1/46 様</a></li>
      <li><a href="http://nogizaka46matome.2chblog.jp/" target="_blank">乃木坂46まとめもらんだむ 様</a></li>
      <li><a href="http://nogizaka46matomenoma.blog.jp/" target="_blank">乃木坂46まとめの「ま」 様</a></li>
      <li><a href="http://nogizaka46democracy.com/" target="_blank">乃木坂46まとめ乃木仮めんばー 様</a></li>
    </ul>

    <h2>管理人について</h2>
    <p>サイトの不具合、要望などありましたら、以下の連絡先までご連絡くださいませ。</p>
    <ul>
      <li><a href="https://twitter.com/oksaka1033" target="_blank">twitter @oksaka1033</a></li>
    </ul>

    <h2>今後について</h2>
    <p>以下の機能を追加するかもしれません。</p>
    <ul>
      <li>スマホ対応</li>
      <li>ユーザビリティの向上</li>
      <li>検索機能実装</li>
      <li>注目度急上昇メンバー掲載</li>
    </ul>
    <div class="footer">
        Copyright © 2019 Hikita All Rights Reserved.
    </div>
{% endblock %}